*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* margin: 5%;
    padding: 2rem; */
    background-color: lightgreen;
    text-align: center;
}

/* .header{
    height: 50vh;
} */

.about{
    height: 100vh;
    background-color: lightcyan;
}

footer{
    height: 20vh;
    background-color: black;
    color: white;
    text-align: center;
}